<h1 mat-dialog-title style="text-align:center;">{{modalTitle}}</h1>
<form [formGroup]='userForm'>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Vardas" 
                                  formControlName='name' >
      <button mat-button *ngIf="userForm.controls['name'].value" matSuffix mat-icon-button aria-label="Clear" (click)="userForm.controls['name'].setValue('')">
          <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="userForm.controls['name'].hasError('required')">
            Vardas yra <strong>būtinas</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Pavardė" 
                                  formControlName='forname' >
      <button mat-button *ngIf="userForm.controls['forname'].value" matSuffix mat-icon-button aria-label="Clear" (click)="userForm.controls['forname'].setValue('')">
          <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="number" placeholder="Amžius" 
                                  formControlName='age' >
      <button mat-button *ngIf="userForm.controls['age'].value" matSuffix mat-icon-button aria-label="Clear" (click)="userForm.controls['age'].setValue('')">
          <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Profesija" 
                                  formControlName='profesion' >
      <button mat-button *ngIf="userForm.controls['profesion'].value" matSuffix mat-icon-button aria-label="Clear" (click)="userForm.controls['profesion'].setValue('')">
          <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="full-width">
      <textarea matInput  placeholder="Pomėgiai" 
                          formControlName='hobby' ></textarea>
      <button mat-button *ngIf="userForm.controls['hobby'].value" matSuffix mat-icon-button aria-label="Clear" (click)="userForm.controls['hobby'].setValue('')">
          <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-button (click)='create()'><mat-icon>&#xE876;</mat-icon>{{buttonTitle}}</button>
    <button mat-button (click)='dialogRef.close()' style="max-width:80px">cancel</button>
</form>