/* delete icon  */
.delete-group {
	position: absolute;
	right: -20px;
	top: -21px;
}
.group-header-image {
	background-size: cover;
	}
	@media screen and (max-width: 480px) {
		.group-buttons{
			width: 100%;
		}
	}