<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center center" >
    <mat-card style="margin:10px;" *ngFor='let group of backendService.groups; let i = index' >
        <!-- DIV ELEMENT FOR ADDING ITEM IN DELETE LIST -->
        <div appAddItem [id]='group._id'  [class.select-item]="backendService.addToList == true"></div>
        <!-- DELETE SINGLE GROUP  -->
        <button appDeleteItem [data]='group' [disabled]='backendService.addToList' matTooltip='Ištrinti grupę' mat-icon-button > <mat-icon>&#xE5C9;</mat-icon></button>
        <mat-card-header>
            <div mat-card-avatar class="group-header-image" matTooltip='Atidaryti' (click)='showAvatar(group)' [style.background-image]="'url('+group.imgURL+')'" style="cursor:pointer;"></div>
            <mat-card-title>Grupės pavadinimas
                <button mat-icon-button matTooltip='Pakeisti pavadinimą' (click)='changeName(group)'><mat-icon>&#xE3C9;</mat-icon></button>
            </mat-card-title>
            <mat-card-subtitle>{{group.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-accordion>
                    <!-- ############ GROUP OPTIONS ########### -->
                    <mat-expansion-panel (opened)="antras = true"
                                         (closed)="antras = false">
                    <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>&#xE226;</mat-icon> Grupė  
                            </mat-panel-title>
                            </mat-expansion-panel-header>
                            <!-- buttons -->
                            <button mat-raised-button class='group-buttons' color='primary' (click)='addCover(group)' ><mat-icon>&#xE439;</mat-icon> Pridėti viršelį</button>
                            <button mat-raised-button class='group-buttons' color='accent' (click)='addDescription(group)'><mat-icon >&#xE3C9;</mat-icon> Redaguoti aprašymą</button>
                    </mat-expansion-panel>
                    <!-- ############ GALLERY OPTIONS ########### -->
                    <mat-expansion-panel (opened)="pirmas = true"
                    (closed)="pirmas = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title fxLayoutAlign="left center" >
                            <mat-chip-list *ngIf='group.gallerys > 0' class="mat-chip-list-stacked"><mat-chip selected="true" color='warn'>{{group.gallerys}}</mat-chip></mat-chip-list>   
                            <mat-icon>&#xE3B6;</mat-icon> Galerijos 
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- buttons -->
                    <button mat-raised-button class='group-buttons' color='primary' (click)='newGallery(group);' ><mat-icon>&#xE02E;</mat-icon> Sukurti Galeriją</button>
                    <button mat-raised-button class='group-buttons' color='accent' [disabled]='group.gallerys == 0' [routerLink]='[group._id]' ><mat-icon >&#xE896;</mat-icon> Redaguoti Galerijas</button>
                    
                </mat-expansion-panel>
                <!-- ############ TABLE OPTIONS ########### -->
                <mat-expansion-panel (opened)="antras = true"
                (closed)="antras = false">
                <mat-expansion-panel-header>
                    <mat-panel-title fxLayoutAlign="left center">
                        <mat-icon>&#xE03B;</mat-icon> Paslaugų kainos  
                    </mat-panel-title>
                </mat-expansion-panel-header>
                    <!-- buttons -->
                    <button mat-raised-button class='group-buttons' color='primary' [routerLink]='["view-table",group._id]' ><mat-icon>&#xE02E;</mat-icon>Žiūrėti</button>
                    <button mat-raised-button class='group-buttons' color='accent'  [routerLink]='["edit-table",group._id]' ><mat-icon >&#xE896;</mat-icon> Redaguoti</button>
                </mat-expansion-panel>
                </mat-accordion>
                      
        </mat-card-content>
    </mat-card>
</div>

<app-picture-gallery *ngIf='openGallery' [index]='0' (close)='openGallery = $event' [picture]='groupAvatar' ></app-picture-gallery>
