<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center" >
    <mat-card style="margin:10px;" *ngFor='let group of backendService.groups; let i = index' >
        <div appDeleteItem [id]='group._id'  [class.select-item]="backendService.addToList == true"></div>
            <button matTooltip='Ištrinti grupę' class="delete-group" mat-icon-button (click)='deleteGroup(group)'> <mat-icon>&#xE5C9;</mat-icon></button>
        <mat-card-header>
            <div mat-card-avatar class="group-header-image" [style.background-image]="'url('+group.imgURL+')'"></div>
            <mat-card-title>Grupės pavadinimas
                <button mat-icon-button matTooltip='Pakeisti pavadinimą' (click)='changeName(group)'><mat-icon>&#xE3C9;</mat-icon></button>
            </mat-card-title>
            <mat-card-subtitle>{{group.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-accordion>
                    <!-- ############ GROUP OPTIONS ########### -->
                    <mat-expansion-panel (opened)="antras = true"
                                         (closed)="antras = false">
                    <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>&#xE226;</mat-icon> Grupė  
                            </mat-panel-title>
                            </mat-expansion-panel-header>
                            <!-- buttons -->
                            <button mat-raised-button color='primary' (click)='addCover(group)' ><mat-icon>&#xE439;</mat-icon> Pridėti viršelį</button>
                            <button mat-raised-button color='accent' (click)='addDescription(group)'><mat-icon >&#xE3C9;</mat-icon> Redaguoti aprašymą</button>
                    </mat-expansion-panel>
                    <!-- ############ GALLERY OPTIONS ########### -->
                    <mat-expansion-panel (opened)="pirmas = true"
                    (closed)="pirmas = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title fxLayoutAlign="left center" >
                            <mat-chip-list *ngIf='group.gallerys > 0' class="mat-chip-list-stacked"><mat-chip selected="true" color='warn'>{{group.gallerys}}</mat-chip></mat-chip-list>   
                            <mat-icon>&#xE3B6;</mat-icon> Galerijos 
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- buttons -->
                    <button mat-raised-button color='primary' (click)='newGallery(group);' ><mat-icon>&#xE02E;</mat-icon> Sukurti Galeriją</button>
                    <button mat-raised-button color='accent' [disabled]='group.gallerys == 0' [routerLink]='[group._id]' ><mat-icon >&#xE896;</mat-icon> Redaguoti Galerijas</button>
                    
                </mat-expansion-panel>
                <!-- ############ TABLE OPTIONS ########### -->
                <mat-expansion-panel (opened)="antras = true"
                (closed)="antras = false">
                <mat-expansion-panel-header>
                    <mat-panel-title fxLayoutAlign="left center">
                        <mat-icon>&#xE03B;</mat-icon> <span *ngIf='group.table_name == undefined'>Lentelė </span>  <span *ngIf='group.table_name != undefined' style="color:rgb(219, 103, 103)"> {{group.table_name}}</span> 
                        <button *ngIf='group.table_name != undefined' mat-icon-button matTooltip='Pakeisti pavadinimą' (click)='renameTable(group)'><mat-icon>&#xE3C9;</mat-icon></button>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                    <!-- buttons -->
                    <button mat-raised-button color='primary' *ngIf='group.table_name != undefined' [routerLink]='["view-table",group._id]' ><mat-icon>&#xE02E;</mat-icon>Žiūrėti</button>
                    <button mat-raised-button color='primary' *ngIf='group.table_name == undefined'(click)='newTable(group)' ><mat-icon>&#xE02E;</mat-icon>Sukurti</button>
                    <button mat-raised-button color='accent' [disabled]='group.table_name == undefined' [routerLink]='["edit-table",group._id]' ><mat-icon >&#xE896;</mat-icon> Redaguoti</button>
                </mat-expansion-panel>
                </mat-accordion>
                      
        </mat-card-content>
    </mat-card>
</div>

      