<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center" >
    <mat-card style="margin:10px;" *ngFor='let group of backendService.groups; let i = index' >
        <div #element  (click)='backendService._addToList(group._id,element);'  [class.select-item]="backendService.addToList == true"></div>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <button matTooltip='Ištrinti grupę' mat-icon-button (click)='deleteGroup(group)'> <mat-icon>&#xE5C9;</mat-icon></button>
            </div>
            <mat-card-title>Grupės pavadinimas
                <button mat-icon-button matTooltip='Pakeisti pavadinimą' (click)='changeName(group)'>
                    <mat-icon>&#xE3C9;</mat-icon> 
                </button>
            </mat-card-title>
            <mat-card-subtitle>{{group.pavadinimas}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-accordion>
                    <!-- ############ GROUP OPTIONS ########### -->
                    <mat-expansion-panel (opened)="antras = true"
                                         (closed)="antras = false">
                    <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon>&#xE226;</mat-icon> Grupė  
                            </mat-panel-title>
                            </mat-expansion-panel-header>
                            <!-- buttons -->
                            <button mat-raised-button color='primary' ><mat-icon>&#xE439;</mat-icon> Pridėti viršelį</button>
                            <button mat-raised-button color='accent' ><mat-icon >&#xE3C9;</mat-icon> Redaguoti aprašymą</button>
                    </mat-expansion-panel>
                    <!-- ############ GALLERY OPTIONS ########### -->
                    <mat-expansion-panel (opened)="pirmas = true"
                    (closed)="pirmas = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title fxLayoutAlign="left center" >
                            <mat-chip-list class="mat-chip-list-stacked"><mat-chip selected="true" color='warn'>{{group.gallerys}}</mat-chip></mat-chip-list>   
                            <mat-icon>&#xE3B6;</mat-icon> Galerijos 
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <!-- buttons -->
                    <button mat-raised-button color='primary' (click)='newGallery(group);' ><mat-icon>&#xE02E;</mat-icon> Sukurti Galeriją</button>
                    <button mat-raised-button color='accent' [routerLink]='[group._id]' ><mat-icon >&#xE896;</mat-icon> Redaguoti Galerijas</button>
                    
                </mat-expansion-panel>
                <!-- ############ TABLE OPTIONS ########### -->
                <mat-expansion-panel (opened)="antras = true"
                (closed)="antras = false">
                <mat-expansion-panel-header>
                    <mat-panel-title fxLayoutAlign="left center">
                            <mat-chip-list class="mat-chip-list-stacked"><mat-chip selected="true" color='warn'>{{group.tables}}</mat-chip></mat-chip-list>
                        <mat-icon>&#xE03B;</mat-icon>  Lentelės 
                    </mat-panel-title>
                </mat-expansion-panel-header>
                    <!-- buttons -->
                    <button mat-raised-button color='primary' ><mat-icon>&#xE02E;</mat-icon> Sukurti Lentelę</button>
                    <button mat-raised-button color='accent' ><mat-icon >&#xE896;</mat-icon> Redaguoti Lenteles</button>
                </mat-expansion-panel>
                </mat-accordion>
                      
        </mat-card-content>
    </mat-card>
</div>

      