  <h1 mat-dialog-title style="text-align:center;">Pakeisti pavadinimą</h1>
  <div mat-dialog-content>
    <mat-form-field [formGroup]='renameForm'  >
        <input matInput placeholder="Grupės pavadinimas" formControlName='name' required>
        <mat-error *ngIf="renameForm.controls['name'].hasError('required')" >Laukelis negali būti tuščias!</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)='renameGallery()' tabindex="2">Pakeisti</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>