<div  fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center" >
  <mat-card *ngFor='let gallery of backendService.gallerys; let i = index' style="margin:10px;" class="example-card">
    <div #element  (click)='addToList(gallery._id,element);'  [class.select-item]="backendService.addToList == true"></div>
    <mat-card-header>
      <mat-card-title>Galerijos pavadinimas 
        <button mat-icon-button matTooltip='Pakeisti pavadinimą' (click)='changeName(gallery._id,gallery.gallery_name)'>
          <mat-icon>&#xE3C9;</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-subtitle>{{gallery.gallery_name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>Aprašymas: 
            <button mat-icon-button matTooltip='Redaguoti aprašymą' (click)='editDescription(gallery._id,gallery.aprasymas)'>
                <mat-icon>&#xE3C9;</mat-icon>
            </button>
        </mat-list-item>
        <mat-list-item>Nuotraukų: {{gallery.gallery_images.length}}</mat-list-item>
        <mat-list-item>Sukurta: {{gallery.birth_time | date:'longDate'}}</mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
              <button mat-button [routerLink]="gallery._id" color='primary' ><mat-icon>&#xE439;</mat-icon> Add</button>
              <button mat-button color='warn' ><mat-icon>&#xE410;</mat-icon> View</button>
    </mat-card-actions>
  </mat-card>
</div>