   
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center center" >
    
<mat-card *ngFor='let row of backendService.table_rows' class="job-card">
 <!-- DIV ELEMENT FOR ADDING ITEM IN DELETE LIST -->
 <div appAddItem [id]='row._id'  [class.select-item]="backendService.addToList == true"></div>
  <!-- BUTTON FOR SINGLE DELETE TABLE ELEMENT  -->
  <button appDeleteItem [data]='row' [disabled]='backendService.addToList' matTooltip='Ištrinti elementą' mat-icon-button > <mat-icon>&#xE5C9;</mat-icon></button>
       
    <mat-card-content>
        <form >
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Pavadinimas" 
                                            [(ngModel)]="row.name" 
                                            [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput type="number" placeholder="Darbo kaina" 
                                            [(ngModel)]="row.price" 
                                            [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-select placeholder="Mato Vienetas" [(ngModel)]='row.type' 
                                                        [ngModelOptions]="{standalone: true}">
                    <mat-option>-- None --</mat-option>
                    <mat-optgroup *ngFor="let type of measure_type" [label]="type.name"
                                  [disabled]="type.disabled">
                      <mat-option *ngFor="let value of type.measure"  [value]="value.value">
                          {{ value.value }}
                      </mat-option>
                    </mat-optgroup>
                  </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" placeholder="Medžiagų kaina"
                                              [(ngModel)]='row.material_price'
                                              [ngModelOptions]="{standalone: true}" >    
            </mat-form-field>
            <mat-form-field>
                <input matInput type="number" placeholder="Išeiga"
                                              [(ngModel)]='row.iseiga' 
                                              [ngModelOptions]="{standalone: true}">    
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Išeigos vienetas" [(ngModel)]='row.iseiga_type'
                                                           [ngModelOptions]="{standalone: true}">
                    <mat-option>-- None --</mat-option>
                    <mat-optgroup *ngFor="let type of measure_type" [label]="type.name"
                                  [disabled]="type.disabled">
                      <mat-option *ngFor="let value of type.measure"  [value]="value.value">
                          {{ value.value }} 
                      </mat-option>
                    </mat-optgroup>
                  </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" placeholder="Iframe URL"
                                          [(ngModel)]='row.iframeURL'
                                          [ngModelOptions]="{standalone: true}" >    
            </mat-form-field>
          </form>
    </mat-card-content>
  </mat-card>
</div>





