<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center center"  >
  <mat-card *ngFor='let pic of backendService.pictures;let i = index'  class="image-card">
    <div appAddItem [id]='pic._id'  [class.select-item]="backendService.addToList == true"></div>
    <!-- delete single item  -->
    <button appDeleteItem [data]='pic' [disabled]='backendService.addToList' matTooltip='Ištrinti paveikslėlį' mat-icon-button > <mat-icon>&#xE5C9;</mat-icon></button>
    
    <!-- <button *ngIf='!backendService.addToList' matTooltip='Ištrinti elementą' class='delete-item' (click)='deleteImage(pic,$event)' mat-icon-button><mat-icon>&#xE5C9;</mat-icon></button> -->
      <mat-card-header>
        <mat-card-subtitle>{{pic.name}}</mat-card-subtitle>
      </mat-card-header>
      <img (click)='clicked_Img = i;openGallery = true' mat-card-image [src]="pic.imgURL" style="max-width:250px;cursor:pointer;" alt="">
      <mat-card-content>
        Dydis: {{pic.size | fileSize:'MB'}}
        <span *ngIf='backendService.multiple_delete_type == "gallery-images"'> 
          <span [ngSwitch]='true'>
              <p *ngSwitchCase="pic.description.length < 50">
                Aprašymas: {{pic.description}} 
              </p>
              <p *ngSwitchCase="pic.description.length > 50">
                Aprašymas: {{pic.description.slice(0,50)}} ...
              </p>
          </span>
          <button mat-icon-button matTooltip='Redaguoti aprašymą' (click)='editDescrition(pic,$event)'><mat-icon>&#xE3C9;</mat-icon></button>
        </span>
      </mat-card-content>
    </mat-card>
</div> 
<!--  gallery omponent -->
<app-picture-gallery *ngIf='openGallery' [index]='clicked_Img' (close)='openGallery = $event' [picture]='backendService.pictures' ></app-picture-gallery>