<h1 mat-dialog-title style="text-align:center;">Aprašymas</h1>
<div mat-dialog-content fxLayout="row" fxLayoutWrap fxLayoutAlign="center center">
  <mat-form-field [formGroup]='descriptionForm'  >
      <textarea style="width:100% !important;min-height:200px;" matInput placeholder="Galerijos aprašymas" formControlName='description' required></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)='updateDescription()' tabindex="2"><mat-icon>&#xE161;</mat-icon> Save</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>