<mat-toolbar color="primary">
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item routerLink='/groups'>
      <mat-icon >&#xE896;</mat-icon>
       Redaguoti grupes </button>
    <button mat-menu-item (click)="openDialog()">
      <mat-icon>&#xE03B;</mat-icon> 
      Pridėti grupę </button>
  </mat-menu>
  
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
     <mat-icon>more_vert</mat-icon>
  </button>
  
<button mat-icon-button (click)='createList()' ><mat-icon [style.color]='backendService.addToList? "red" : "" '>&#xE16C;</mat-icon></button>
<span *ngIf='backendService.addToList'>
  <button mat-button (click)='deleteItems()'><mat-icon >&#xE5CA;</mat-icon> Delete</button>
  <button mat-button (click)='resetList()'><mat-icon >&#xE5CD;</mat-icon> Cancel</button>
</span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <button mat-icon-button routerLink=''> <mat-icon>&#xE5C9;</mat-icon></button>
</mat-toolbar>

<router-outlet></router-outlet>