
.mat-column-select {
    overflow: visible;
  }
  app-add-group-cover mat-cell,mat-header-cell{
    height: 36px;
    display: flex;
    align-items: center;
    overflow: visible !important;
}
.image-icon{
    width: 30px;
    height: 30px;
}