 
    
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center center" >
    <mat-card *ngFor='let member of backendService.members' class="job-card">
      <!-- DIV ELEMENT FOR ADDING ITEM IN DELETE LIST -->
      <div appAddItem [id]='member._id'  [class.select-item]="backendService.addToList == true"></div>
      <!-- DELETE SINGLE GROUP  -->
      <button appDeleteItem [data]='member' [disabled]='backendService.addToList' matTooltip='Ištrinti darbuotiją' mat-icon-button > <mat-icon>&#xE5C9;</mat-icon></button>
      <mat-card-header>
            <div mat-card-avatar [style.background-image]='"url("+member.images[0].imgURL+")"' class="header-image"></div>
          <mat-card-title ><span #rowName >Vardas / pavardė</span></mat-card-title>
          <mat-card-subtitle>{{member.name+' / '+member.forname}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content >
        </mat-card-content>
        <mat-card-actions>
          <button mat-button><mat-icon>&#xE254;</mat-icon> Redaguoti</button>
          <button mat-button (click)='changeStatus(member)'><mat-icon>&#xE916;</mat-icon> Pakeisti statusą </button>
          
          
        </mat-card-actions>
      </mat-card>
  </div>